<!DOCTYPE html>
<html>
    <head>
        <h3>REGISTRATION PAGE</h3>
    </head>
    <body>
        <form action="signin.html" method="post">
        <label>Username</label>
        <input type="text" placeholder="Enter Username" name="Username" required><br><br>
         Email:
         <input type="email" placeholder="Enter Email" name="email" required><br><br>
         Roll no:
         <input type="number" placeholder="Enter Roll no" name="rollno" required><br><br>
         Password:
         <input type="password" placeholder="Enter password" name="pass" required/><br><br>
         <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </body>
</html>
